@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);

body {
  font-family: "Ubuntu";
}

::selection {
  background-color: rgb(205, 40, 25);
  color: white;
}
