<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Take Notes</title>
    <script src="https://cdn.tailwindcss.com"></script>
   
  </head>
  <body>
    <div class="min-h-[100vh] bg-zinc-900 text-white py-[2rem] px-[4rem]">
        <a class="bg-blue-600 text-sm px-2 py-1 rounded-sm hover:bg-blue-900 transition-all duration-300" href="/">GO BACK</a>
        <form class="mt-10" action="/edit" method="POST" class="py-6">
            <input
              class="w-1/3 rounded-sm bg-white/5 p-2 text-zinc-500 font-semibold"
              placeholder="Previous filename"
              type="text"
              name="previous"
              value="<%= filename%>"
            />

            <br>

            <input
              class="w-1/3 mt-3 rounded-sm bg-white/5 p-2 text-zinc-300"
              placeholder="Enter new filename here"
              type="text"
              name="new"
            />
            <br />
            <button
              class="bg-yellow-700 px-6 py-1 rounded-sm mt-3 text-white hover:bg-yellow-900 transition-all duration-300"
              type="submit"
            >
              Save Changes
            </button>
          </form>
    <div>
  </body>
</html>
