<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Take Notes</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="min-h-[100vh] bg-zinc-900 text-white py-[2rem] px-[4rem]">
        <a class="bg-blue-600 text-sm px-2 py-1 rounded-sm hover:bg-blue-900 transition-all duration-300" href="/">GO BACK</a>
      <h1 class=" mt-9 text-[2rem] font-semibold"><%= filename %></h1>
      <p class="mt-2 leading-5 text-white/60 text-[1.2rem]"><%= filedata %></p>
    <div>
  </body>
</html>
