<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener</title>

    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      }
      h1 {
        text-align: center;
        background-color: #161616;
        color: whitesmoke;
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <h1>URL Shortener</h1>
  </body>
</html>
